<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capitales</title>
    <style>

    </style>
</head>
<body>
    <h1>Crear Capital</h1>

    <form action="#" th:action="@{/capital/editar}" th:object="${capital}"  method="post">
        <p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Nombre: <input type="text" th:field="*{nombre}" /></p>
        <p>Latitud: <input type="text" th:field="*{latitud}" /></p>
        <p>Nº habitantes: <input type="text" th:field="*{n_habitantes}" /></p>
        <p><input type="submit" value="Editar capital"/> <input type="reset" value="Limpiar campos" /></p>
    </form>

    <form action="#" th:action="@{/capitales}" method="get">
        <p><input type="submit" value="Ver lista paises"/></p>
    </form>
</body>
</html>